
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    min-height: 100vh;
    font-size: 16px;
    font-family: "Karla", sans-serif;

}
ul{
    list-style-type: none;
}

.card{
    width: 700px;
    border-radius: 12px;
    box-shadow: 0 15px 20px 10px rgba(37, 43, 70, 0.1);
}
.erti{
    display: flex;
    flex-direction: row;
}
.community{
    padding: 40px;
}
h2{
    color: hsl(179, 62%, 43%);
    padding-bottom: 25px;
    opacity: 0.9;
    
}

.community h3{
    font-weight: bold;
    color: hsl(71, 73%, 54%);
    padding-bottom: 16px;
    opacity: 0.9;
}
.community p{
    color: hsl(218, 22%, 67%);
    line-height: 30px;
    opacity: 0.7;
}
.plan{
    display: flex;
}
.subs{
    padding: 40px;
    background-color: hsl(179, 62%, 43%);
    color:#fff;
}
.subs h3{
    padding-bottom: 20px;
    opacity: 0.9;
}
.price{
    display: inline-flex;
}
.price p {

    padding: 8px 0px 0px 12px;
    opacity: 0.5;
}
.access{
    padding: 10px 0px 20px 0px;
    opacity: 0.8;
}
button{
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    font-family: "Karla", sans-serif;
    padding: 15px;
    border-radius: 5px;
    background-color: hsl(71, 73%, 54%);
    color: #fff;
    border: none;
}
.why-us{
    padding: 40px ;
    background-color: hsl(179, 62%, 43%);
    opacity: 0.8;
    color: #fff;
}

.why-us h3{
    padding-bottom: 20px;
    opacity: 0.9;
}
li{
    padding-bottom: 3px;
    font-size: 16px;
    opacity: 0.6;
}
.Grid{
    display: grid;
    grid-template-columns: repeat(3fr, 1);
}
